<div class="layout-topbar">
    <a href="#" class="layout-topbar-logo">
        <img
            id="layout-topbar-logo"
            src="assets/layout/images/logo-white.png"
            alt="babylon-layout"
        />
    </a>

    <a
        class="layout-menu-button"
        href="#"
        (click)="app.onMenuButtonClick($event)"
    >
        <i class="pi pi-bars"></i>
    </a>

    <a
        id="topbar-menu-button"
        href="#"
        (click)="app.onTopbarMenuButtonClick($event)"
    >
        <i class="pi pi-ellipsis-v"></i>
    </a>
</div>
