<div class="login-body">
    <div class="login-panel"></div>

    <div class="login-content">
        <img src="../layout/images/logo-black.png" alt="babylon-layout" />

        <h1><span>SIGN IN</span> TO BABYLON</h1>
        <p>Welcome, please use the form to sign-in.</p>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="login-input-wrapper">
                <input
                    type="text"
                    formControlName="username"
                    autocomplete="off"
                    placeholder="username"
                    class="ui-inputtext ui-widget"
                    required
                />
            </div>

            <div class="login-input-wrapper">
                <input
                    type="password"
                    formControlName="password"
                    autocomplete="off"
                    placeholder="password"
                    class="ui-inputtext ui-widget"
                    required
                />
            </div>

            <button
                type="submit"
                class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
            >
                <span class="ui-button-text ui-c">Sign In</span>
            </button>
        </form>
    </div>
</div>
