<div
    class="layout-wrapper"
    (click)="onLayoutClick()"
    [ngClass]="{
        'layout-static': isStatic(),
        'layout-overlay': isOverlay(),
        'layout-overlay-active': overlayMenuActive,
        'layout-horizontal': isHorizontal(),
        'layout-slim': isSlim(),
        'layout-static-inactive': staticMenuDesktopInactive,
        'layout-mobile-active': staticMenuMobileActive,
        'layout-menu-dark': darkMenu,
        'layout-menu-light': !darkMenu
    }"
>
    <app-header></app-header>
    <div class="layout-menu-container" (click)="onMenuClick($event)">
        <div class="layout-menu-logo">
            <a href="#">
                <img
                    id="layout-menu-logo"
                    src="assets/layout/images/logo-white.png"
                    library="babylon-layout"
                />
            </a>
        </div>
        <div class="layout-menu-wrapper">
            <p-scrollPanel #layoutMenuScroller [style]="{ height: '100%' }">
                <div class="menu-scroll-content">
                    <app-profile
                        *ngIf="profileMode == 'inline' && !isHorizontal()"
                    ></app-profile>
                    <app-menu [reset]="resetMenu"></app-menu>
                </div>
            </p-scrollPanel>
        </div>
    </div>

    <div class="layout-main">
        <app-app-breadcrumb></app-app-breadcrumb>
        <div class="layout-content">
            <router-outlet></router-outlet>
        </div>
    </div>

    <div class="layout-mask"></div>
</div>
